<div class="container-fluid ">
    <div class="sub-container ">
        <div class="p-3">
            <h1 class="thenewarrival">Banner Management</h1>
            <div class="p-3">
                <form class="d-flex">
                    <a href="/admin/add-banner" class="btn btn-success">Add banner</a>
                </form>
            </div>
            <div class="theArea">
                <table class="table" id="list_banner">
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Image</th>
                            <th scope="col">Action</th>

                        </tr>
                    </thead>
                    <tbody>
                        {{#each banner}}
                        <tr>
                            <td>{{this.name}}</td>
                            <td><img src="/categoryImages/{{this.image}}" alt="..." class="img-fluid"></td>
                            <td>
                                <a href="/admin/edit-banner?id={{this._id}}" class="btn btn-primary">Edit</a>
                                <a href="/admin/delete-banner?id={{this._id}}" class="btn btn-danger"
                                    data-bs-toggle="modal" data-bs-target="#exampleModal{{@index}}">Delete</a>
                            </td>
                        </tr>
                        <div class="modal fade" id="exampleModal{{@index}}" tabindex="-1"
                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Delete</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <p>Are you sure ?</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Close</button>
                                        <a href="/admin/deletebanner?id={{this._id}}"><button type="button"
                                                class="btn btn-danger">Delete</button></a>

                                    </div>
                                </div>
                            </div>
                        </div>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#list_banner').DataTable();
    });
</script>
