<body id="editcate">
    
    <br><br>
    <div class="container-fluid">
        <div class="sub-container thehome">
            <div class="p-3">
                <center>
                    <h1 class="thenewarrival">Category Management</h1>
                </center>
                <div>
                    {{#if message}}
                    <div class="alert alert-success" role="alert"> {{message}}</div>
                    {{else if error}}
                    <div class="alert alert-danger" role="alert"> {{error}}</div>
                    {{/if}}
                </div>
                <div class="p-3">
                    <form class="d-flex">
                        <a href="/admin/add-category" class="btn btn-success">Add category</a>
                    </form>
                </div>
                <div class="theArea">
                    <table class="table" id="list_users">
                        <thead>
                            <tr>
                                <th scope="col">Name</th>
                                {{!-- <th>Category Image</th> --}}
                                {{!-- <th>Subcategory</th> --}}
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each category}}
                            <tr>
                                <td>{{this.name}}</td>
                                {{!-- <td><img src="/productImages/{{this.image}}"  alt="..." ></td> --}}
                                {{!-- <td>{{this.Subcategory}}</td> --}}
                                <td><a href="/admin/edit-category?id={{this._id}}" class="btn btn-primary">Edit</a>
                                    <a href="/admin/delete-category?id={{this._id}}" class="btn btn-danger"
                                        onclick="return confirm('Are you sure you want to delete {{name}}??')">Delete</a>
                                </td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
   
     <script>
       
      $(document).ready( function () {
        $('#list_users').DataTable();
      });
      </script>
       <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>  
   <script >(type='text/javascript', charset='utf8', src='https://cdn.datatables.net/1.13.1/js/jquery.dataTables.js')</script>
     


