<body>
    <section class="h-100 h-custom">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-lg-12">

                    <div class="card card-registration card-registration-2" style="border-radius: 15px;">
                        <div class="card-body p-0">
                            <div class="row g-0">
                                <div class="col-lg-12">
                                    <div class="p-3">
                                          <h1 class="thenewarrival">Order Management</h1>

                                                <div class="theArea">
                                                    <table class="table ">
                                                        <thead>
                                                            <tr>
                                                                <th scope="col">Order id</th>
                                                                <th scope="col">Products</th>
                                                                <th scope="col">Date</th>

                                                                <th scope="col">Payment Method</th>
                                                                <th scope="col">Status</th>
                                                                <th scope="col">Order Price</th>
                                                                <th scope="col">Address</th>
                                                                <th scope="col">Action</th>


                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            {{#each orders}}
                                                            <tr>
                                                                <td>{{this.orderId}}</td>
                                                                <td> <a href="/admin/view-product?id={{this._id}}"
                                                                        class="btn-sm btn-success">View
                                                                        </a> </td>
                                                                <td>{{this.date}}</td>

                                                                <td>
                                                                    {{#ifeq this.payment_method 1}}
                                                                    <p class="text-success">COD</p>
                                                                    {{/ifeq}}

                                                                    {{#ifeq this.payment_method 2}}
                                                                    <hp class="text-success">RAZORPAY</p>
                                                                    {{/ifeq}}
                                                                </td>
                                                                <td><strong>{{status}}</strong></td>
                                                                <td>₹{{this.subtotal}}</td>
                                                                <td>{{this.addressId}}</td>
                                                                <td>

                                                                    {{#ifeq this.status "processing"}}
                                                                    <a href="/admin/change-status?id={{this._id}}"
                                                                        class="btn-sm btn-warning  "
                                                                        onclick="return confirm('Are you sure?')">Ship
                                                                        Order</a>
                                                                    {{/ifeq}}

                                                                    {{#ifeq this.status "Shipped"}}
                                                                    <a href="/admin/change-status?id={{this._id}}"
                                                                        class="btn-sm btn-primary"
                                                                        onclick="return confirm('Are you sure?')">Out
                                                                        of Delivery</a>
                                                                    {{/ifeq}}
                                                                    {{#ifeq this.status "Out for Delivery"}}
                                                                    <a href="/admin/change-status?id={{this._id}}"
                                                                        class="btn-sm btn-primary"
                                                                        onclick="return confirm('Are you sure?')">
                                                                        Deliver Order</a>
                                                                    {{/ifeq}}
                                                                </td>
                                                            </tr>
                                                            {{/each}}
                                                        </tbody>
                                                    </table>
                                                </div>
        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</body>