 <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.css">
    <br><br><br><br>
    <div class="container-fluid">
        <div class="sub-container thehome">
            <div class="p-3">
              <center>  <h1 class="thenewarrival">Product Management</h1> </center>
                <div class="p-3">
                    <form class="d-flex " style="margin-left:6rem ;">
                        <a href="/admin/add-product" class="btn btn-success">Add product</a>
                    </form>
                </div>
                <div class="theArea">
               <center>     <table id="list_users" class="table " style="width: 10vw;">
                        <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Image</th>
                                <th scope="col">Price</th>
                                <th scope="col">Category</th>
                                <th scope="col">Description</th>      
                                <th scope="col">Action</th>
                                <th scope="col">Stock</th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            
                            {{#each product}}
                            <tr>
                                <td>{{this.name}}</td>
                                <td><img src="/productImages/{{this.image.[0]}}"  alt="..." ></td>
                                <td>₹{{price}}</td>
                                <td>{{products.0.name}}</td>
                                <td><p>{{this.description}}</p></td>
                                <td><a href="/admin/edit-product?id={{this._id}}" style="background-color:#f5a623 ; "  class="btn btn-info w-100">UPDATE</a> &nbsp;
                                    <a href="/admin/delete-product?id={{this._id}}"  style="background-image: linear-gradient(rgba(255, 0, 0, 0.819), rgb(255, 0, 0))" class="btn btn-danger w-100 " onclick="return confirm('Are you sure you want to delete?')">Delete</a>
                                </td>
                                <td><p>{{this.quantity}}</p></td>
                            </tr>
                            {{/each}}
                           
                        </tbody>
                    </table></center>
                </div>
            </div>
        </div>
    </div>
<script>
$(document).ready( function () {
    $('#list_users').DataTable();
});
</script>
