<body id="editcate">
    <br><br><br><br><br><br>
    <div class="container-fluid">
        <div class="sub-container thehome">
            <div>
              <center>  <h1 class="thenewarrival">User Management</h1></center>
                <div class="theArea">
                    <table class="table" id="list_users">
                        <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Email</th>
                                <th scope="col">Mobile</th>
                                <th scope="col">Action</th>
                                <th scope="col">Verification</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each users}}
                            <tr>
                                <td>{{this.name}}</td>
                                <td>{{this.email}}</td>
                                <td>{{this.mobile}}</td>
                               
                                <td>
                                     {{#if this.blocked}}
                                            <a href="/admin/unblock-user?id={{this._id}}" class="btn btn-primary w-75">Unblock</a>  
                                {{else}}
                                    <a href="/admin/block-user?id={{this._id}}" class="btn btn-danger w-100">Block</a>
                                    {{/if}}
                                </td>
                                <td>
                                    {{#if is_verified}}
                                    <h4 class="text-success">verified</h4>
                                    {{else }}
                                    <h4 class="text-danger">not verified</h4>
                                    {{/if}}
                                </td>
                                  <td>
                                    {{#if blocked}}
                                    <h4 class="text-danger">Blocked</h4>
                                    {{else}}
                                    <h4 class="text-success">not blocked</h4>
                                    {{/if}}
                                </td>

                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                    <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
                </div>
            </div>
        </div>
    </div>
    <script>
      $(document).ready( function () {
        $('#list_users').DataTable();
      });
      </script>
       <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>  
   <script >(type='text/javascript', charset='utf8', src='https://cdn.datatables.net/1.13.1/js/jquery.dataTables.js')</script>
     
</body>

 