<br><br><br><br>

<div class="container-xl px-4 mt-4">
    <!-- Account page navigation-->
    <nav class="nav nav-borders">
        <a class="nav-link active ms-0" href="" >Profile</a>
        <a class="nav-link" href="address"> Add New Address</a>
        <a class="nav-link" href="password-change" >Password</a>
        <a class="nav-link" href="order" >My Orders</a>
        {{!-- <a class="nav-link" href="https://www.bootdey.com/snippets/view/bs5-edit-notifications-page"  target="__blank">Notifications</a> --}}
    </nav>
    <hr class="mt-0 mb-4">
    <div class="row">
       <div class="col-xl-4">
            <!-- Profile picture card-->
            <div class="card mb-4 mb-xl-0">
                <div class="card-header">Profile Picture</div>
                <div class="card-body text-center">
                    <!-- Profile picture image-->
                    <img class="img-account-profile rounded-circle mb-2" src="http://bootdey.com/img/Content/avatar/avatar1.png" alt="">
                    <p>{{user.name}}</p>
                    <!-- Profile picture help block-->
                    {{!-- <div class="small font-italic text-muted mb-4">JPG or PNG no larger than 5 MB</div> --}}
                    <!-- Profile picture upload button-->
                    {{!-- <button class="btn btn-primary" type="button">Upload new image</button> --}}
                </div>
            </div>
        </div>
       
        <div class="col-xl-8">
            <!-- Account details card-->
            <div class="card mb-4">
                <div class="card-header">Account Details</div>
                <div class="card-body">
                    <form method="post" action="/user-profile">
                        
                        <!-- Form Group (username)-->
                        {{!-- <div class="mb-3">
                            <label class="small mb-1" for="inputUsername">Username (how your name will appear to other users on the site)</label>
                            <input class="form-control" id="inputUsername" type="text" placeholder="Enter your username" value="username">
                        </div> --}}
                        <!-- Form Row-->
                        <div class="row gx-3 mb-3">
                            <!-- Form Group (first name)-->
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputFirstName" >First name</label>
                                <input class="form-control"  name="name" id="inputFirstName" type="text" placeholder="Enter your first name" value="{{user.name}}">
                            </div>
                            <!-- Form Group (last name)-->
                            {{!-- <div class="col-md-6">
                                <label class="small mb-1" for="inputLastName"></label>
                                <input class="form-control" id="inputLastName" type="text" placeholder="Enter your last name" value="{{message}}">
                            </div> --}}
                        </div>
                        <!-- Form Row        -->
                        {{!-- <div class="row gx-3 mb-3">
                            <!-- Form Group (organization name)-->
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputOrgName">Organization name</label>
                                <input class="form-control" id="inputOrgName" type="text" placeholder="Enter your organization name" value="Start Bootstrap">
                            </div>
                            <!-- Form Group (location)-->
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputLocation">Location</label>
                                <input class="form-control" id="inputLocation" type="text" placeholder="Enter your location" value="San Francisco, CA">
                            </div>
                        </div> --}}
                        <!-- Form Group (email address)-->
                        <div class="mb-3">
                            <label class="small mb-1" for="inputEmailAddress">Email address</label>
                            <input class="form-control" id="inputEmailAddress" name="email"  type="email" placeholder="Enter your email address" value="{{user.email}}">
                        </div>
                        <!-- Form Row-->
                        <div class="row gx-3 mb-3">
                            <!-- Form Group (phone number)-->
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputPhone">Phone number</label>
                                <input class="form-control"name="mobile" id="inputPhone" type="tel" placeholder="Enter your phone number" value="{{user.mobile}}">
                            </div>
                            <!-- Form Group (birthday)-->
                            {{!-- <div class="col-md-6">
                                <label class="small mb-1" for="inputBirthday">Birthday</label>
                                <input class="form-control" id="inputBirthday" type="text" name="birthday" placeholder="Enter your birthday" value="06/10/1988">
                            </div> --}}
                        </div>
                        <!-- Save changes button-->
                        <button class="btn btn-primary" value="submit" type="submit">Save changes</button>
                 
                    </form>


                </div>
            </div>
        </div>
    </div>
        <div class="col-lg-8">
                <div class="card mb-4">
                    <div class="card-header"> Address</div>
                    <div class="card-body">
                      
                        <div class="row">
                            {{#each address}}
                            <div class="col-md-6">
                                <div class="bg-white card addresses-item mb-4 border border-primary shadow">
                                    <div class="gold-members p-4">
                                        <div class="media">
                                            <div class="mr-3"><i class="icofont-ui-home icofont-3x"></i>
                                            </div>
                                            <div class="media-body">
                                                <h6 class="mb-1 text-secondary">{{delivery_point}}</h6>
                                                <p class="text-black">{{name}} &nbsp &nbsp
                                                    &nbsp<b>{{number}}</b>
                                                </p>
                                                <p>{{house}}</p>
                                                <p>{{city}}, {{state}}, {{country}}</p>
                                                <p>{{address}} - {{pincode}} </p>
                                                <a class="btn btn-danger" href="/delete-address?id={{this._id}}"
                                                    onclick="return confirm('Are You Sure ?')">DELETE</a>
                                                {{!-- <a class="btn btn-primary" href="/editaddress?id={{this._id}}">EDIT</a> --}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {{/each}}
                        </div>
                    </div>
                </div>
            </div>
</div>
  {{!-- <div class="card mb-4 mb-xl-0">
                <div class="card-header">Address</div>
                <div class="card-body text-center">
              {{#each address}}
           <h1>{{name}}</h1> 
           <p>{{house}}</p>
              {{/each}}
                </div>
            </div> --}}